html, body, h1, ul, li {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

html, body {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

#root {
  width: 100%;
  height: 100%;
}

.app-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.messages {
  flex-grow: 1;
  background-color: rgb(230,230,230);
  padding: 20px;
}

.messages__title {
  font-size: 22px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.messages__message, .message {
  background-color: white;
  padding: 5px;
  margin-bottom: 10px
}

.message__deleting {
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out;
}

.create-message {
  display: flex;
  padding: 10px;
  background-color: gray;
}

.create-message__input {
  flex-grow: 1;
  margin-right: 5px;
}

.message__delete {
  float: right;
  margin-right: 5px;
  color: rgb(160, 160, 160);
  cursor: pointer;
}

